<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <% flash.each do |key, message| %>
        <div class="alert alert<%= key %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
