<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <style>
    <% State.all.each do |state| %>
      .state-<%= state.name.parameterize %> {
      background-color: <%= state.color %>;
    }
  <% end %>
</style>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <% flash.each do |key, message| %>
        <div class="alert alert<%= key %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
